$primary: #ff416f;
$secondary: #e60045;

body {
	margin: 3em 0 0 0;

}

#main {
	width: 40em;
	margin: 0 auto;
}

button {
	background-color: $primary;
	color: white;
	font-size: 18pt;
	border: 0;
	width: 40%;
	padding: 0.3em 1em;
	margin: 1em 0.3em;
	-webkit-box-shadow: 4px 3px 7px rgba(50, 50, 50, 0.15);
	-moz-box-shadow:    4px 3px 7px rgba(50, 50, 50, 0.15);
	box-shadow:         4px 3px 7px rgba(50, 50, 50, 0.15);
	&:hover {
		background-color: $secondary;
	}
	&:nth-child(2) {
		float: right;
	}
}

textarea {
	border: 0;
	border-bottom: 2px solid $primary;
	outline: none;
	width: 100%;
	height: 10em;
	font-family: 'Arial', sans-serif;
	font-size: 12pt;
	&:focus {
		border-bottom: 2px solid $secondary;
	}
}

table {
	width: 100%;
	font-family: 'Helvetica', 'Arial', sans-serif;
	font-size: 11pt;
	border-collapse: collapse;
	th {
		background-color: lighten($secondary, 10%);
		color: white;
	}
	thead {
		margin-bottom: 1em;
	}
}
